.modal-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  height: calc(100% - 102px);
  background-color: var(--figma-color-bg);
  position: fixed;
  border-radius: 2px;
  gap: 8px;
  z-index: 99;
  box-shadow: var(--elevation-500-modal-window, 0px 2px 14px rgba(0, 0, 0, .15), 0px 0px 0px 0.5px rgba(0, 0, 0, .2));
  top: 8px;
}

.modal-container .header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid var(--ramp-grey-600, rgba(0, 0, 0, .1));
  font-weight: 600;
}

.modal-container .content {
  overflow-y: auto;
  height: 100%;
}
