.help-bubble-container {
  background-color: var(--hud);
  border-radius: 50%;
  outline: none;
  border-width: 0;
  cursor: pointer;
}

.help-bubble-append {
  width: fit-content;
  background-color: var(--hud);
  color: var(--white);
  position: absolute;
  z-index: 2;
  border-radius: 2px;
  left: 7px;
  padding: 8px 32px;
  margin-top: 12px;
}

.help-bubble-append::before {
  content: ' ';
  position: absolute;
  right: 23px;
  border-left: 20px solid var(--hud);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transform: translateY(-66%) rotate(270deg);
}
