.input-container {
  grid-column-start: 1;
  grid-column-end: span 28;
  padding-right: 7px;
  background-color: transparent;
}

.input-container,
.input-container:focus {
  border: 1px solid var(--ramp-grey-600) !important;
}
