.form-container,
.form-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid var(--background-silver);
  gap: 24px;
}

.tip-container {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px dashed #1891FB4D;
  justify-content: space-around;
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
}
